header, footer {
    padding: 1em;
    color: black;

    clear: left;
    text-align: center;
}

article {
    margin-left: 170px;

}



div.plaatje {
top:10%;
left:68%;
position: absolute;
float: right;
}

body{
  background-image: url(https://i.ytimg.com/vi/i6wGxkHpRL4/maxresdefault.jpg)
}
